<div id="<%= dom_id documento %>">
  <p>
    <strong>Oficio:</strong>
    <%= documento.oficio %>
  </p>

  <p>
    <strong>Asunto:</strong>
    <%= documento.asunto %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= documento.fecha %>
  </p>

  <p>
    <strong>Planestudos:</strong>
    <%= documento.planestudos %>
  </p>

  <p>
    <strong>Seccion:</strong>
    <%= documento.seccion %>
  </p>

  <p>
    <strong>Numerocontrol:</strong>
    <%= documento.numerocontrol %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= documento.nombre %>
  </p>
  <p>
    <strong>documentos:</strong>
    <%= documento.uploads %>
  </p>

</div>
