<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      
      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row"> 
    <%= form.label :documento_id,"ID",class:'col-sm-2' %>
    <div class="col-sm-4">
   <%= form.hidden_field :documento_id, value: @documento.id %>
  </div>
  </div>


<div class="form-group row">
    <%= form.label :uploads,"Subir documento" ,class:'col-sm-2'%>
    <div class="col-sm-4">
    <%= form.file_field :uploads, multiple: true, class: "form-control" %>
  </div>
  </div>

 
  <div class="form-group row">
    <%= form.label :status,"Estatus", class:'col-sm-2'%>
    <div class="col-sm-4">
    <%= form.select :status, ["PAGADO", "PENDIENTE"], prompt: "Seleccione el estado" %>
  </div>
  </div>

  
 
    <button class="btn btn-info" <%= form.submit %> Guardar </button>
  
<% end %>