<div id="<%= dom_id payment %>">
<p>
    <strong>Nombre:</strong>
    <%= payment.nombre %>
  </p>

  <p>
   
   <strong>Nombre del archivo:</strong>

     <% @payment.uploads.each do |upload| %>
 <p><%= upload.blob.filename %></p>
     <%end%> 
 <p>
<p>
    <strong>Identificado de la constancia:</strong>
    <%= payment.documento_id%>
    
<p>
    <strong>Estatus:</strong>
    <%= payment.status %>
  </p>
</div>