<div id="<%= dom_id certificate %>">


<p>
<strong>Nombre del alumno: </strong>
 <%= @certificate.documento.numero_de_control %>
</p>
<p>
<strong>Numero de control:  </strong>
<%= @certificate.documento.nombre %>
</p>
<p>
<strong>Carrera:  </strong>
<%= @certificate.documento.carrera%>
</p>
<p>
<strong>Fecha:  </strong>
<%= @certificate.documento.fecha%>
</p>
  <p>
   
   <strong>Nombre del archivo:</strong>

     <% @certificate.uploads.each do |upload| %>
 <p><%= upload.blob.filename %></p>
     <%end%> 


</div>