<div id="<%= dom_id certificate %>">


<p>
<strong>Nombre del alumno: </strong>
 <%= @certificate.documento.numero_de_control %>
</p>
<p>
<strong>Numero de control:  </strong>
<%= @certificate.documento.nombre %>
</p>
<p>
<strong>Carrera:  </strong>
<%= @certificate.documento.carrera%>
</p>
<p>
<strong>Fecha:  </strong>
<%= @certificate.documento.created_at%>
</p>
  <p>
   
   <strong>Nombre del archivo:</strong>

     <% @certificate.uploads.each do |upload| %>
 <p><%= upload.blob.filename %></p>

 <%= link_to '', rails_blob_path(upload.blob, disposition: 'attachment'), target: '_blank', class: 'bi bi-download download-icon tooltip-test', title: 'Descargar' %>
  <%= link_to '', rails_blob_path(upload.blob, disposition: 'inline'), target: '_blank', class: 'bi bi-file-earmark-pdf pdf-icon' %>
    
     <%end%> 




</div>