<%= form_with(model: certificate) do |form| %>
  <% if certificate.errors.any? %>
    <div style="color: red">
      
      <ul>
        <% certificate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row"> 
    <%= form.label :payment_id,"ID",class:'col-sm-2' %>
    <div class="col-sm-4">
   <%= form.hidden_field :payment_id, value: @payment.id %>
  </div>
  </div>


<div class="form-group row">
    <%= form.label :uploads,"Subir documento" ,class:'col-sm-2'%>
    <div class="col-sm-4">
    <%= form.file_field :uploads, multiple: true, class: "form-control" %>
  </div>
  </div>


  
  <%= form.hidden_field :status, value: false %>
  <%= form.submit data: { confirm: '¿Estás seguro de actualizar el estado del certificado?' }, class: 'btn btn-info' do %>
    <a href="<%= update_status_certificate_path(certificate) %>">Actualizar estado</a>
    <% end %>
<% end %>